.container {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;

}

/* header */
.header_section {
    width: 100%;
    height: 700px;
    background-image: url("../images/img1.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

header {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 125px;
}



ul {
    display: flex;
    gap: 54px;
}

li a {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;

}

li a:hover {
    background-color: red;
}

.burger_icon {
    display: none;
}

.section_text {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    width: 100%;
    padding: 96px 197px;


}

/* section2 */

.section2 {
    width: 100%;
    margin-inline: auto;
    background-color: #2A2626;
    padding: 96px 125px;
    display: flex;
    flex-direction: column;

}

h3 {
    margin-bottom: 42px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #FFFFFF;
    text-align: center;

}

.cards {
    display: flex;
    justify-content: space-between;
}