@media (max-width: 1060px) {
    .article_text {
        padding: 64px 60px 116px 60px;
    }
}


@media (max-width: 990px) {
    .none {
        display: none;
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 880px) {
    li a {
        font-size: 22px;
    }

    .section_text {
        width: 90%;
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    .article_div {
        width: 80%;
        flex-direction: column;
        gap: 30px;
    }

    .article_img,
    .article_text {
        width: 100%;
    }
}

@media (max-width: 720px) {
    nav {
        display: none;
    }

    .burger_icon {
        display: block;
    }

    .logo img {
        width: 49px;
        height: 76px;
    }

    .cards {
        width: 70%;
        flex-direction: column;
        gap: 24px;
    }

    .card {
        width: 100%;
    }

    .none {
        display: block;
    }

}

@media (max-width: 560px) {
    .header_section {
        height: 696px;
        padding: 32px 0 46px 0;
    }

    .section_text {
        font-size: 24px;
    }

    footer {
        justify-content: center;
    }

    .footer_logo {
        display: none;
    }
}